@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
label{
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input{ 
    border: initial;

    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;

    border: 2px solid hsl(270, 3%, 87%);
    border-radius: 5px; 
    outline: none;

    cursor: pointer;
}
input:focus{
    border: 2px double transparent;
    background-image: linear-gradient(white , white),
    linear-gradient(to right , hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box , border-box;
}
input::placeholder{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
.main-container{
    display: flex;
    height: 100vh;
}
.background-images{
    background-image: url("./images/bg-main-desktop.png");
    width: 33%;
    background-size: cover;
}
.card-images{
    color: white;

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 550px;

    /*centralize card images div in the middle of the line */
    margin-left: calc(33% - 275px );
}
#card-front , #card-back{
    position: relative;
    width: 450px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 30px rgba(0, 0, 0, 0.10);

    overflow: hidden;
}
#card-front{ margin-bottom: 40px; margin-right:auto;}
#card-back{ margin-left: auto;}

.card-background{ width: 100%; height: auto;}

.card-icon,
.card-number-display,
.cardholder-name-display,
.exp-date-display,
.cvc-display{ position: absolute; overflow: hidden; flex-wrap: nowrap;}

.card-icon{top: 10%;left: 5%; height: 20%; width: auto;}
.card-number-display{bottom: 32%;left: 5%;  font-size: 1.5rem; letter-spacing: 0.22rem;  }
.cardholder-name-display{
    bottom: 12%;
    left: 5%;
    font-size: 1rem;
    letter-spacing: 0.11rem;
    text-transform: uppercase;
    max-width: 70%;
}
.exp-date-display{bottom: 12%; right: 5%;}
.cvc-display{top: 45%; right: 12%; font-size: 1rem;}

.form-area{
    width: 66%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: hsl(278, 68%, 11%);
}
.form-area>form , .thank-you-container{
    max-width: 400px;
    margin-left: 40%;
    margin-right: auto;

}
.thank-you-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.inline-inputbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 30px;
}
.exp-date-inputbox , .cvc-inputbox{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
.exp-date-inputbox>input{width: 40%; margin-right: 5%;}
.cvc-inputbox>input{width: 100%;}
.exp-date-inputbox>label,.cvc-inputbox>label{width:100%;}

.err-msg{
    color: red;
    font-size: 14px;
    visibility: hidden;
}
#submit-btn , #continue-btn{
    width: 100%;
    padding: 15px;
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    color: white;
}
#submit-btn:hover , #continue-btn:hover{
    cursor: pointer;
}
#continue-bnt{
    width: 400px;
}
.display-none{
    display: none;
}
.show-message{
    visibility: visible;
}
input.invalid{
    border: 2px solid hsl(0, 100%, 66%);
}

@media screen and (max-width: 1200px) {

    html{
        font-size: 14px;
    }
    .card-images{
        width: 420px;
        margin-left: calc(33% - 250px);
    }
    #card-front , #card-back{
        width: 350px;
        height: 192px;
        margin-bottom: 31px;
    }  
    .form-area>form , .thank-you-container{
        max-width: 350px;
        margin-right: 20px;
    }  
}
@media screen and (max-width: 780px) {

    html{
        font-size: 10px;
    }
    .card-images{
        width: 330px;
        margin-left: 15px;
    }
    #card-front , #card-back{
        width: 290px;
        height: 154px;
        margin-bottom: 10px;
    }  
    .form-area>form , .thank-you-container{
        max-width: 235px;
        margin-right: 15px;
    }  
    
}

/*mobile devices*/
@media screen and (max-width: 600px) {

    html{
        font-size: 14px;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .background-images{
        width: 100vw;
        height: 250px;
    }
    .form-area{
        width: 100vw;
        justify-content: flex-start;
    }
    .form-area>form , .thank-you-container{
        position: absolute;
        max-width: 400px;
        margin: 80px 20px auto 20px;

    }  
    .card-images{
        position: absolute;
        width: 90%;
        height: 300px;
        margin: 20px auto;
        align-self: center;
    }
    #card-front , #card-back{
        /*reseting all margins */
        margin: 0;
        
        position: absolute;
        width: 350px;
        height: 192px;
    }  
    #card-front{
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    #card-back{
        top: 0;
        right: 0;

    }
}
@media screen and (max-width: 440px){
    html{
        font-size: 10px;
    }
    .background-images{
        height: 200px;
    }
    .card-images{
        height: 215px;
    }
    #card-front , #card-back{
        width: 250px;
        height: 138px;
    } 
    #card-front{
        margin-top: 175px;
    }
    .form-area>form , .thank-you-container{
        margin-top: 50px;
        width: 94%;
    }  

}